.skeleton-wrapper {
  display: flex;
  height: 100vh;
}

.skeleton-sprite-pic {
  gap: 1rem;
  background-color: greenyellow;
  width: 190px;
  height: 190px;
  margin: auto;
  border-radius: 1rem;
}

.skeleton-background {
  width: 200px;
  height: 468px;
  background-color: gray;
  text-align: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem, auto;
}
.skeleton-name {
  width: 91%;
  height: 1rem;
  background-color: hotpink;
  margin: auto;
}
