.skeleton-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-gap: 1rem;
  /* display: flex;
  flex-wrap: wrap; */
  overflow: hidden;
}

.skeleton-card {
  margin: 1rem;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}

.skeleton-background {
  width: 201px;
  height: 310px;
  background-color: rgb(197, 197, 197);
  text-align: center;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
}

.skeleton-sprite-pic {
  background-color: #ddd;
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 1rem;
}

.skeleton-name {
  width: 50%;
  height: 19px;
  background-color: #ddd;
  margin: 1rem auto;
}

.skeleton-id {
  width: 30%;
  height: 19px;
  background-color: #ddd;
  margin: 1rem auto;
}

.skeleton-types {
  width: 30%;
  height: 19px;
  background-color: #ddd;
  margin: 1rem auto;
}

/* animation section */

.skeleton-shimmer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  animation: loading 2s infinite;
}

.shimmer {
  width: 100%;
  height: 100%;
  background: rgba(212, 237, 252, 0.1);
  transform: skewX(-30deg);
  border-radius: 1rem;
}

@keyframes loading {
  0% {
    /* transform: scale(5, 5); */
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(170%);
  }
}
