.App {
  text-align: center;
}

body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-image: url(./pexels-suzy-hazelwood-7026467.jpg);
}

img {
  width: auto;
  height: 200px;
}

.cardContainer {
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
}

.photoWrapper {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}
.pokemonCard {
  display: inline-block;
  margin: 1rem;
  min-height: 300px;
  border: 1px solid black;
  background: white;
  padding: 1rem;
  border-radius: 1rem;
}

.sprites {
  position: absolute;
  top: 0;
  left: 0;
}

/* .shiny:hover {
  visibility: hidden;
} */

/* .nonShiny {
  pointer-events: none;
} */
.shiny {
  z-index: 10;
}

.hide {
  visibility: hidden;
}

.types {
  display: inline-flex;
  width: 92%;
  justify-content: space-evenly;
}

.scroll {
  overflow: scroll;
  max-width: 90%;
  margin: auto;
}

table {
  border-collapse: collapse;
  margin: auto;
  background: white;
}

tr,
td,
th {
  border-style: solid;
}
