:root {
	--primaryColor: #7c8657;
	--secondary: #edefe2;
	--accent: white;
}

body {
	text-align: center;
	font-family: "Montserrat", sans-serif;
	background: var(--secondary);
}

img {
	width: auto;
	height: 100px;
}
table {
	margin: auto;
	background: white;
	border-collapse: collapse;
}

td {
	display: flex;
	min-height: 104px;
	justify-content: space-around;
	align-items: center;
	border: 1px black solid;
}

tbody {
	display: flex;
}

/* Top nav bar  */
.navbar {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-bottom: 2rem;
	background-color: var(--primaryColor);
	height: 5vh;
	align-items: center;
}

.navbar a {
	list-style: none;
	text-decoration: none;
	margin: 1rem;
	color: white;
}
.active {
	color: white;
	border-bottom: 1px white solid;
}
/* shiny list styles */
.photoWrapper {
	position: relative;
	height: 100px;
	width: 100px;
	margin: 0 auto;
}

.photoWrapper,
p {
	margin: 5px;
}
.go {
	display: inline-flex;
	margin: 3rem auto;
	background: var(--primaryColor);
	border: 1px solid gray;
	font-size: 3rem;
	align-items: center;
}
.go a {
	text-decoration: none;
	color: white;
}

.id-link:hover {
	background: #7c86578c;
}
.pokemonCard {
	display: inline-block;
	margin: 5px;
	border: 1px solid black;
	background: #f5f5f5;
	padding: 5px;
	border-radius: 1rem;
}
.pokemonCard a {
	background: var(--primaryColor);
	color: white;
	border-radius: 3px;
	padding: 2px;
	text-decoration: none;
}
.sprites {
	position: absolute;
	top: 0;
	left: 0;
}

.shiny {
	z-index: 10;
}

.types {
	display: inline-flex;
	width: 92%;
	justify-content: space-evenly;
	width: 59px;
	height: 19px;
}

.scroll {
	overflow: scroll;
	max-width: 90%;
	margin: auto;
}

/* single info */
.single-info {
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
}

/* Shiny List */
.shiny-list-wrapper {
	width: 100%;
	margin: auto;
	padding-top: 1rem;
}
.shiny-list-header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
}

/* Top button */
.top-button {
	position: sticky;
	bottom: 5px;
	right: 5px;
	float: right;
	display: block;
	height: 3rem;
	width: 3rem;
	padding: 15px 5px 5px;
	background: var(--primaryColor);
	border: none;
}
.arrow {
	display: inline-block;
	width: 15px;
	height: 15px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	transform: rotate(315deg);
}

/* main button style */
.btn {
	display: inline-block;
	padding: 0.3em 1em;
	text-decoration: none;
	color: var(--primaryColor);
	border: solid 2px var(--primaryColor);
	border-radius: 3px;
	transition: 0.4s;
	background: white;
}

.btn:hover {
	background: #67c5ff;
	color: white;
}
/* search bar */
.search {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}

.searchTerm {
	width: 100%;
	border: 3px solid var(--primaryColor);
	border-right: none;
	padding: 5px;
	height: 20px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #9dbfaf;
}

.searchTerm:focus {
	color: #00b4cc;
}

.searchButton {
	border: 1px solid var(--primaryColor);
	background: var(--primaryColor);
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}

.wrap {
	width: 50%;
	margin: 1rem auto;
	display: flex;
}
/* hide scrollbars */

.scroll {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.scroll {
	overflow-y: hidden;
	overflow-x: visible;
	-ms-overflow-style: revert;
	scrollbar-width: revert;
}

@media screen and (min-width: 750px) {
	img {
		width: auto;
		height: 200px;
	}
	.photoWrapper {
		height: 200px;
		width: 200px;
	}
	td,
	tr {
		min-height: 200px;
	}
}

@media screen and (max-width: 750px) {
	.scroll::-webkit-scrollbar {
		display: none;
	}
}
