.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  text-align: center;
}

img{
  width: auto;
  height: 200px;
}
.left{
  display: inline-flex;
  align-items: center;
}

.wrapper{
  display: inline-flex;
  overflow: auto;
  flex-direction: column;
  width: 80%;
}

.right{
  display: inline-flex;
  align-items: center;
}