.App {
  text-align: center;
}

body{
  text-align: center;
}

img{
  width: auto;
  height: 200px;

}

.cardContainer{
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
}

.photoWrapper{
  position: relative;
  height: 200px;
  width: 200px;
  margin: 0 auto;
}
.pokemonCard{
  display: inline-block;
  margin: 1rem;
  min-height: 300px;
}


.sprites{
  position: absolute;
  top: 0;
  left: 0;

}

 .shiny:active{
z-index: -10
 }


