.App {
  text-align: center;
}

body {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  background-image: url(./pexels-suzy-hazelwood-7026467.jpg);
}

img {
  width: auto;
  height: 100px;
}

.btn {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: 0.4s;
}

.btn:hover {
  background: #67c5ff;
  color: white;
}

.cardContainer {
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
}

.photoWrapper {
  position: relative;
  height: 100px;
  width: 100px;
  margin: 0 auto;
}

.photoWrapper,
p {
  margin: 5px;
}

.pokemonCard {
  display: inline-block;
  margin: 5px;
  border: 1px solid black;
  background: white;
  padding: 5px;
  border-radius: 1rem;
}

.sprites {
  position: absolute;
  top: 0;
  left: 0;
}

/* .shiny:hover {
  visibility: hidden;
} */

/* .nonShiny {
  pointer-events: none;
} */
.shiny {
  z-index: 10;
}

.hide {
  visibility: hidden;
}

.types {
  display: inline-flex;
  width: 92%;
  justify-content: space-evenly;
  width: 59px;
  height: 19px;
}

.scroll {
  overflow: scroll;
  max-width: 90%;
  margin: auto;
}

table {
  border-collapse: collapse;
  margin: auto;
  background: white;
}

tr,
td,
th {
  border-style: solid;
}

/* Heading Section */

.heading-section {
  background: #67c5ff;
  margin: 0 auto;
  padding-top: 1rem;
}
.tab-button {
  width: 50%;
  border: none;
}

/* Shiny List */
.shiny-list-wrapper {
  width: 100%;
  margin: auto;
  background: rgba(197, 197, 197, 0.2);
  padding-top: 1rem;
}
.shiny-list-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

/* Top button */
.top-button {
  position: sticky;
  bottom: 0;
  right: 0;
  float: right;
  display: block;
  height: 3rem;
  width: 3rem;
}

@media screen and (min-width: 770px) {
  img {
    width: auto;
    height: 200px;
  }
  .photoWrapper {
    height: 200px;
    width: 200px;
  }

  tr {
    display: block;
    float: left;
  }
  th,
  td {
    display: block;
  }
}
